@*@model IEnumerable<FilExplorer.DataLayer.Models.FolderModel>*@

@{
    ViewBag.Title = "ListFolders";
}

<div>
    <h2>My documents:</h2>
</div>
<div class="container">
    @using (Html.BeginForm("UploadFileToS3", "S3", FormMethod.Post, new {enctype = "multipart/form-data", @class = "navbar-form navbar-left"}))
    {
        @Html.Hidden("folderName")
        @Html.Hidden("folderID")
        <div class="col-md-6">
            <input type="file" id="uploadFile" name="uploadFile"/>
        </div>
    <div class="col-md-6"><input type="submit" value="Upload" class="btn btn-default" /></div>
    }
</div>

@*@using (Ajax.BeginForm("ListFiles", "Home", 
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "displayFiles",
                                    LoadingElementId = "progress"
                                }, new {id="ListFilesForm", @class = "navbar-form navbar-left" }
                                ))
{
    @Html.Hidden("folderID")
}*@
<div id="displayme">
    @Html.Partial("_Folders_Structure")
</div>

@*<div id="displayFiles">
    @Html.Partial("_Files_Structure")
</div>*@